<!DOCTYPE html
  SYSTEM "about:legacy-compat">
<html lang="en-us">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="UTF-8"><meta name="copyright" content="(C) Copyright 2015">
<meta name="DC.rights.owner" content="(C) Copyright 2015">
<meta name="DC.Type" content="topic">
<meta name="description" content="A schema-less database along with view definitions provide for a flexible document structure."><meta name="DC.Relation" scheme="URI" content="../Views/views-intro.html">
<meta name="DC.Relation" scheme="URI" content="../Views/views-geospatial.html">
<meta name="DC.Relation" scheme="URI" content="../Views/views-translateSQL.html">
<meta name="DC.Format" content="XHTML">
<meta name="DC.Identifier" content="topic1678">
<meta name="DC.Language" content="en-us">
<link rel="stylesheet" type="text/css" href="../commonltr.css">
<title>Views in a schema-less database</title>
</head>
<body id="topic1678">


  <h1 class="title topictitle1">Views in a schema-less database</h1>

  
  <div class="body"><p class="shortdesc">A schema-less database along with view definitions provide for a flexible document structure.</p>

    <p class="p">One of the primary advantages of the document-based storage and the use of map/reduce views
      for querying the data is that the structure of the stored documents does not need to be
      predeclared, or even consistent across multiple documents.</p>

    <p class="p">Instead, the view can cope with and determine the structure of the incoming documents that
      are stored in the database, and the view can then reformat and restructure this data during
      the map/reduce stage. This simplifies the storage of information, both in the initial format,
      and over time, as the format and structure of the documents can change over time.</p>

    <p class="p">For example, you could start storing name information using the following JSON structure:</p>

    <pre class="pre codeblock"><samp class="ph codeph">{
   "email" : "mc@example.org",
   "name" : "Martin Brown"
}
</samp></pre>

    <p class="p">A view can be defined that outputs the email and name:</p>

    <pre class="pre codeblock"><samp class="ph codeph">function(doc, meta)
{
    emit([doc.name, doc.email], null);
}
</samp></pre>

    <p class="p">This generates an index containing the name and email information. Over time, the application
      is adjusted to store the first and last names separately:</p>

    <pre class="pre codeblock"><samp class="ph codeph">{
   "email" : "mc@example.org",
   "firstname" : "Martin",
   "lastname" : "Brown"
}
</samp></pre>

    <p class="p">The view can be modified to cope with both the older and newer document types, while still
      emitting a consistent view:</p>

    <pre class="pre codeblock"><samp class="ph codeph">function(doc, meta)
{
  if (doc.name &amp;&amp; (doc.name != null))
  {
    emit([doc.name, doc.email], null);
  }
  else
  {
    emit([doc.firstname + " " + doc.lastname, doc.email], null);
  }
}
</samp></pre>

    <p class="p">The schema-less nature and view definitions provide for a flexible document structure, and an
      evolving one, without requiring either an initial schema description, or explicit schema
      updates when the format of the information changes.</p>

  </div>

<nav class="related-links">
<div class="familylinks">
<div class="parentlink"><strong>Parent topic:</strong> <a class="link" href="../Views/views-intro.html" title="Couchbase views enable indexing and querying of data.">Views and indexes</a></div>
<div class="previouslink"><strong>Previous topic:</strong> <a class="link" href="../Views/views-geospatial.html" title="Geospatial views adds two-dimensional spatial index support to Couchbase. Development only.">Writing geospatial views</a></div>
<div class="nextlink"><strong>Next topic:</strong> <a class="link" href="../Views/views-translateSQL.html" title="This section provides information on how to translate SQL to a map/reduce environment.">Translating SQL to map/reduce</a></div>
</div>
</nav>
</body>
</html>