<!DOCTYPE html
  SYSTEM "about:legacy-compat">
<html lang="en-us">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="UTF-8"><meta name="copyright" content="(C) Copyright 2015">
<meta name="DC.rights.owner" content="(C) Copyright 2015">
<meta name="DC.Type" content="topic">
<meta name="description" content="Couchbase views enable indexing and querying of data."><meta name="DC.Relation" scheme="URI" content="../Views/views-basics.html">
<meta name="DC.Relation" scheme="URI" content="../Views/views-index-updates.html">
<meta name="DC.Relation" scheme="URI" content="../Views/views-operation.html">
<meta name="DC.Relation" scheme="URI" content="../Views/views-storedData.html">
<meta name="DC.Relation" scheme="URI" content="../Views/views-development.html">
<meta name="DC.Relation" scheme="URI" content="../Views/views-production.html">
<meta name="DC.Relation" scheme="URI" content="../Views/views-writing.html">
<meta name="DC.Relation" scheme="URI" content="../Views/views-geospatial.html">
<meta name="DC.Relation" scheme="URI" content="../Views/views-schemaless.html">
<meta name="DC.Relation" scheme="URI" content="../Views/views-translateSQL.html">
<meta name="DC.Relation" scheme="URI" content="../Views/views-querying.html">
<meta name="DC.Relation" scheme="URI" content="../Views/views-querySample.html">
<meta name="DC.Relation" scheme="URI" content="../Misc/sample-bucket-intro.html">
<meta name="DC.Relation" scheme="URI" content="../REST/rest-views-intro.html">
<meta name="DC.Format" content="XHTML">
<meta name="DC.Identifier" content="topic2724">
<meta name="DC.Language" content="en-us">
<link rel="stylesheet" type="text/css" href="../commonltr.css">
<title>Views and indexes</title>
</head>
<body id="topic2724">


 <h1 class="title topictitle1">Views and indexes</h1>

 
 <div class="body"><p class="shortdesc">Couchbase views enable indexing and querying of data.</p>

  <p class="p">A view creates an index on the data according to the defined format and structure. The view consists of specific fields
   and information extracted from the objects in Couchbase. Views create indexes on your
   information that enables search and select operations on the data. </p>

  <p class="p">Views are eventually consistent compared to the underlying stored documents. Documents are
   included in views when the document data is persisted to disk. Documents with expiry times are
   removed from indexes when the expiration pager operates to remove the document from the
   database.</p>

  <p class="p">Views are used for a number of reasons, including:</p>

  <ul class="ul">
   <li class="li">Indexing and querying data from stored objects</li>

   <li class="li">Producing lists of data on specific object types</li>

   <li class="li">Producing tables and lists of information based on your stored data</li>

   <li class="li">Extracting or filtering information from the database</li>

   <li class="li">Calculating, summarizing or reducing the information on a collection of stored
    data</li>

  </ul>

  <div class="p">Multiple views can be created which provides multiple indexes and routes into the stored data. 
   By exposing specific fields from the stored information, views enable the following:
   <ul class="ul">
    <li class="li">Creating and querying stored data</li>

    <li class="li">Performing queries and selection on the data</li>

    <li class="li">Paginating through the view output</li>

   </ul>

  </div>

  
  <p class="p">The View Builder provides an interface for creating views within the web console. Views can be
   accessed by using a Couchbase client library to retrieve matching records.</p>

 </div>

 <nav class="related-links">
<ol class="olchildlinks">
<li class="link olchildlink"><a href="../Views/views-basics.html">View basics</a><br>
Views allow you to extract specific fields and information from data and create an index.</li>
<li class="link olchildlink"><a href="../Views/views-index-updates.html">Stream-based views</a><br>
Stream-based views reduce latency for view updates, providing faster view 			consistency and fresher data.</li>
<li class="link olchildlink"><a href="../Views/views-operation.html">Views operations</a><br>
This section describes how Views operate and how various functions impact views and     data.</li>
<li class="link olchildlink"><a href="../Views/views-storedData.html">Views and stored data</a><br>
This section describes how the views system relates to stored data.</li>
<li class="link olchildlink"><a href="../Views/views-development.html">Development views</a><br>
Views are created in a development environment in order to control the impact of views prior to deployment.</li>
<li class="link olchildlink"><a href="../Views/views-production.html">Production views</a><br>
Production views are used in a deployed environment.</li>
<li class="link olchildlink"><a href="../Views/views-writing.html">Writing views</a><br>
During the view creation process,       the output structure, field order, content, and any summary or grouping       information desired in the view is defined.</li>
<li class="link olchildlink"><a href="../Views/views-geospatial.html">Writing geospatial views</a><br>
Geospatial views adds two-dimensional spatial index support to Couchbase. Development only.</li>
<li class="link olchildlink"><a href="../Views/views-schemaless.html">Views in a schema-less database</a><br>
A schema-less database along with view definitions provide for a flexible document structure.</li>
<li class="link olchildlink"><a href="../Views/views-translateSQL.html">Translating SQL to map/reduce</a><br>
This section provides information on how to translate SQL to a map/reduce     environment.</li>
<li class="link olchildlink"><a href="../Views/views-querying.html">Querying views</a><br>
The content of the key that is generated by the <samp class="ph codeph">emit()</samp> function provides information on       how the data is selected from your view.</li>
<li class="link olchildlink"><a href="../Views/views-querySample.html">View and query examples</a><br>
This section provides general information and query examples.</li>
<li class="link olchildlink"><a href="../Misc/sample-bucket-intro.html">Sample buckets</a><br>
Couchbase provides sample buckets in order to become familiar with the Couchbase Server.</li>
</ol>

<div class="linklist linklist">
<div><a class="link" href="../REST/rest-views-intro.html" title="The Views REST API is used to index and query JSON documents.">Views API</a></div></div>
</nav>

</body>
</html>