/* line 1, ../sass/legacy.scss */
.global-header__logo a {
  background: none;
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/logo.png', sizingMethod='scale')";
}

/* line 6, ../sass/legacy.scss */
.global-header-search input[type="search"] {
  padding-bottom: 1em;
  padding-top: 1em;
}

/* line 11, ../sass/legacy.scss */
.carousel__page--current {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
}

/* line 16, ../sass/legacy.scss */
.carousel__page--previous,
.carousel__page--next {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
